@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


body {
margin: 0;
min-width: 320px;  
min-height: 100vh; 
background-color: #213547;
}

a {
  font-weight: 500;
  color: #f8f8f8;
  text-decoration: inherit;
}
a:hover {
  color: #a7a9c2;
}
h1 { 
  line-height: 1.1;
}

.button-search{
  color: white;
}

.input-com-padding-esquerdo {
  padding-left: 1rem; 
}

.margin-nav {
  margin-left: 8px;  
  margin-right: 8px; 
}
@media (min-width: 640px) {
  .margin-nav {
    margin-left: 28px;  
    margin-right: 28px; 
  }
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;  
  cursor: pointer;
  transition: border-color 0.25s;  
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
